:root {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #F55500;
  text-decoration: inherit;
}

a:hover {
  color: #d94a00;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

input, textarea, select {
  font-family: inherit;
}

button {
  font-family: inherit;
}
